/* 留出一点空间显示阴影 */
$body-padding: 4px;
/* 软件窗口圆角 */
$app-border-radius: 10px;
/* 应用标题栏的高度 */
$top-bar-height: 40px;
/* 侧边栏宽度 */
$sidebar-width: 166px;
/* 主内容边框宽度 */
$main-content-border-width-rb: 6px;
/* 主内容圆角 */
$main-content-border-radius: 0px;
$main-content-border-color: var(--el-color-primary-light-7);
$main-content-border-color-hover: var(--el-color-primary);

/**
  省略左边内容
  注意，内容前后需要加上【&lrm;】（左至右符号）
  https://stackoverflow.com/questions/27957443/strange-special-characters-issue-in-left-side-ellipsis
 */
@mixin txt-reverse-ellipsis {
  background: var(--app-color-foreground-transparent-10);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl; //定义方向
  text-align: left; // 防止父元素宽度足够的时候文字靠右右边
}

/**
  省略左边内容
  注意，内容前后需要加上【&lrm;】（左至右符号）
 */
.txt-reverse-ellipsis {
  @include txt-reverse-ellipsis;
}

/* 省略右边内容 */
@mixin txt-ellipsis {
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: ltr; //定义方向
  text-align: left; // 防止父元素宽度足够的时候文字靠右右边
  unicode-bidi: plaintext; // 防止尾部特殊字符显示在前面
}

/** 伪元素实现的svg背景 */
@mixin pseudo-svg-icon($svg,$bg-color,$padding:4px) {
  &:before {
    content: '';
    position: absolute;
    left: $padding;
    top: $padding;
    right: $padding;
    bottom: $padding;
    mask: $svg no-repeat center / contain;
    -webkit-mask: $svg no-repeat center / contain;
    background: $bg-color;
    z-index: 1;
  }
}

/*科技风格的背景*/
@mixin tech-angled-bg(
  $left-bg: var(--app-color-primary-transparent-5),
  $right-bg: var(--app-color-primary-transparent-5),
  $top-x: 90%,
  $bottom-x: 50%) {
  position: relative;
  overflow: hidden !important;
  background: $left-bg;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
    background: $left-bg;
    clip-path: polygon(calc($top-x / 2) 0, 100% 0, 100% 100%, calc($bottom-x / 2) 100%);
    transition: transform 0.3s ease;
    pointer-events: none;
    transform: translateX(50%);
  }

}

/*科技风格的卡片*/
@mixin card-tech-style(
  $init-bg: var(--app-color-primary-transparent-5),
  $border-color: var(--app-color-primary-transparent-20),
  $shadow: var(--app-color-primary-transparent-15),
  $hover-extend-bg: var(--app-color-primary-transparent-2)) {
  background: $hover-extend-bg;
  border-radius: 10px;
  border: 1px solid $border-color;
  position: relative;
  overflow: hidden !important;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
    background: $init-bg;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 25% 100%);
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 2px 6px $shadow;

    &:before {
      transform: translateX(50%);
    }
  }
}

@mixin card-tech-style--static(
  $bg: var(--app-color-primary-transparent-5),
  $border-color: var(--app-color-primary-transparent-20),
  $shadow: var(--app-color-primary-transparent-15)
) {
  background: $bg;
  border-radius: 10px;
  border: 1px solid $border-color;

  &:hover {
    box-shadow: 0 2px 6px $shadow;
  }
}

/* 图标按钮 */
@mixin icon-btn($size:18px,$color:var(--el-color-primary)) {
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
  color: $color;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background: var(--app-color-primary-transparent-15);
  }
}

/* 圆形图标按钮 */
@mixin circle-icon-btn($size:18px,$color:var(--el-color-primary)) {
  @include icon-btn($size, $color);
  border-radius: 50%;
}

/* 旋转的圆形图标按钮 */
@mixin circle-icon-btn--rotate($size:18px,$color:var(--el-color-primary)) {
  @include circle-icon-btn($size, $color);
  &:hover {
    animation: rotate 3s linear infinite;
  }
}

/* RGB透明度 */
@function rgba-opacity($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

/*app logo*/
@mixin app-logo-style($color:var(--app-color-logo)) {
  display: inline-block;
  mask: url('@/renderer/assets/images/logo.svg') no-repeat center / contain;
  -webkit-mask: url('@/renderer/assets/images/logo.svg') no-repeat center / contain;
  //color: #FFFFFF;
  background: $color;
  border-radius: 10px;
  user-select: none;
}
