html.dark {
  color-scheme: dark;
  --app-color-foreground: #FFFFFF;
  --app-color-background: #191919;
  --app-primary-color: rgb(98, 132, 223);

  --app-bg-color-overlay: var(--app-color-background-transparent-2);
  --app-bg-color-page: var(--app-color-primary-transparent-5);

  --app-bg-color-menus: var(--app-bg-color-page);

  --app-color-menu: var(--el-text-color-regular);
  --app-bg-menu: linear-gradient(
    90deg,
    transparent 0%,
    var(--app-color-primary-transparent-10) 50%,
    transparent 100%
  );
  --app-bg-menu-tag: var(--app-color-primary-transparent-80);
  --app-color-menu-icon: var(--el-text-color-regular);

  --app-color-menu-hover: var(--el-text-color-regular);
  --app-color-menu-icon-hover: var(--el-text-color-regular);
  --app-bg-menu-hover: linear-gradient(
    90deg,
    transparent 0%,
    var(--app-color-primary-transparent-10) 50%,
    transparent 100%
  );
  --app-shadow-menu-hover: 0 4px 10px var(--app-color-primary-transparent-20);

  --app-color-menu-icon-active: var(--el-text-color-regular);
  --app-color-menu-active: var(--el-text-color-regular);
  --app-bg-menu-active: var(--app-color-primary-transparent-15);
  --app-shadow-menu-active-hover: 0 4px 10px var(--app-color-primary-transparent-30);

  --app-color-logo: var(--el-text-color-primary);

  --el-mask-color: rgba(0, 0, 0, .5);

  --el-menu-horizontal-height: 40px;
}
