html.dark {
    color-scheme: dark;
    --app-color-foreground: #FFFFFF;
    --app-color-background: #191919;
    --app-primary-color: rgb(98, 132, 223);

    --el-color-primary: var(--app-primary-color);
    --el-color-primary-light-1: color-mix(in srgb, rgb(98, 132, 223) 90%, #000000);
    --el-color-primary-light-2: color-mix(in srgb, rgb(98, 132, 223) 80%, #000000);
    --el-color-primary-light-3: color-mix(in srgb, rgb(98, 132, 223) 70%, #000000);
    --el-color-primary-light-4: color-mix(in srgb, rgb(98, 132, 223) 60%, #000000);
    --el-color-primary-light-5: color-mix(in srgb, rgb(98, 132, 223) 50%, #000000);
    --el-color-primary-light-6: color-mix(in srgb, rgb(98, 132, 223) 40%, #000000);
    --el-color-primary-light-7: color-mix(in srgb, rgb(98, 132, 223) 30%, #000000);
    --el-color-primary-light-8: color-mix(in srgb, rgb(98, 132, 223) 20%, #000000);
    --el-color-primary-light-9: color-mix(in srgb, rgb(98, 132, 223) 10%, #000000);

    --el-color-primary-dark-1: color-mix(in srgb, rgb(98, 132, 223) 90%, #FFFFFF);
    --el-color-primary-dark-2: color-mix(in srgb, rgb(98, 132, 223) 80%, #FFFFFF);
    --el-color-primary-dark-3: color-mix(in srgb, rgb(98, 132, 223) 70%, #FFFFFF);
    --el-color-primary-dark-4: color-mix(in srgb, rgb(98, 132, 223) 60%, #FFFFFF);
    --el-color-primary-dark-5: color-mix(in srgb, rgb(98, 132, 223) 50%, #FFFFFF);
    --el-color-primary-dark-6: color-mix(in srgb, rgb(98, 132, 223) 40%, #FFFFFF);
    --el-color-primary-dark-7: color-mix(in srgb, rgb(98, 132, 223) 30%, #FFFFFF);
    --el-color-primary-dark-8: color-mix(in srgb, rgb(98, 132, 223) 20%, #FFFFFF);
    --el-color-primary-dark-9: color-mix(in srgb, rgb(98, 132, 223) 10%, #FFFFFF);

    --el-box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, .02), 0px 0px 10px rgba(255, 255, 255, .04);
    --el-box-shadow-light: 0px 0px 6px rgba(255, 255, 255, .06);
    --el-box-shadow-lighter: 0px 0px 3px rgba(255, 255, 255, .06);
    --el-box-shadow-dark: 0px 8px 24px 8px rgba(255, 255, 255, .04), 0px 6px 16px rgba(255, 255, 255, .06), 0px 4px 8px -4px rgba(255, 255, 255, .08);

    /* --el-overlay-color: rgba(0, 0, 0, .8); */
    /* --el-overlay-color-light: rgba(0, 0, 0, .7); */
    /* --el-overlay-color-lighter: rgba(0, 0, 0, .5); */

    --app-bg-color-overlay:var(--app-color-background-transparent-2);
    --app-bg-color-page: var(--app-color-primary-transparent-5);

    --app-bg-color-menus: var(--app-color-primary-transparent-5);

    --app-color-menu: var(--el-text-color-regular);
    --app-bg-menu: linear-gradient(
            90deg,
            transparent 0%,
            var(--app-color-primary-transparent-10) 50%,
            transparent 100%
    );
    --app-bg-menu-tag: var(--app-color-primary-transparent-80);
    --app-color-menu-icon: var(--el-text-color-regular);

    --app-color-menu-hover: var(--el-text-color-regular);
    --app-color-menu-icon-hover: var(--el-text-color-regular);
    --app-bg-menu-hover: linear-gradient(
            90deg,
            transparent 0%,
            var(--app-color-primary-transparent-10) 50%,
            transparent 100%
    );
    --app-shadow-menu-hover: 0 4px 10px var(--app-color-primary-transparent-20);

    --app-color-menu-icon-active: var(--el-text-color-regular);
    --app-color-menu-active: var(--el-text-color-regular);
    --app-bg-menu-active: var(--app-color-primary-transparent-15);
    --app-shadow-menu-active-hover: 0 4px 10px var(--app-color-primary-transparent-30);

    --app-color-logo: var(--el-text-color-primary);
}
