@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use '../common/scrollbar' as *;
@use '../common/utilities' as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
  color: var(--el-text-color-regular);
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  font-size: 14px;
  overflow: hidden;
  // 浏览器在绘制文本时将着重考虑易读性，而不是渲染速度和几何精度。它会使字间距和连字有效。
  text-rendering: optimizeLegibility;
  // WebKit 字体抗锯齿
  -webkit-font-smoothing: antialiased;
  // macOS 字体灰度抗锯齿
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-color-background);

  #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .el-button {
    // 解决文本没有垂直居中的问题
    line-height: normal !important;
  }

  .el-table .cell{
    padding: 0 7px !important;

    .el-tag{
      padding: 0 4px !important;
    }
  }

  .el-table{
    .el-button.is-link+.el-button.is-link {
      margin-left: 3px;
    }
  }
}

html.dark {
  .el-dialog {
    border: 1px solid var(--app-color-primary-transparent-10);
  }
}



